<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/error.css">
    <title>BookZone</title>
</head>
<body>
    <div class="container">
		<h1>Error 404</h1>
        <h3>The page you are looking for does not exist</h3>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/registration}">Register</a>
    </div>
</body>
</html>
